/*Image Formatting*/
.headshot {
    height: 200px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}
/*Page/Table Formatting*/
.sidebar{

    text-align: left;
    vertical-align: top;
    border-right: 1px solid #C1C2EB;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 25px;
    font-size: 20px;
    line-height: 27px;
}
.center{
    border: none;
    min-width: 400px;
    max-width: 1000px;
    padding-right: 8px;
    padding-left: 8px
}
.moveUp {
    padding-top: 1px;
}
/*Other Formatting*/
.code-container pre {
    max-height: 800px;  /* Set the maximum height */
    overflow-y: auto;   /* Enable vertical scrolling */
    border: 5px solid #ccc;
    padding: 10px;
    background-color: #545B5C;
  }
  .code-container pre code {
    color: #a4a7a9;  /* Set the text color */
  }
 
  .leftList {
    display: inline-block;
    text-align: left;
  }

  .feat {
    height: 300px;
    border-radius: 20px;
    border: 1px solid#0C4160;
    margin-right: 10px;
    object-fit: cover;
  }

  a:link {
    color: blue;
  }
  
  a:visited {
    color: blue;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }